body {
    background-color: rgba(250, 232, 232, 0.788);
}

img {
    display: flex;
    flex-direction: column;
    align-items: center;
}

* {
    font-size: 20px;
}

.footer {
    background-color: purple;
    color: white;
    padding: 40px 0px;
    padding-top: 10px;
    text-align: center;
}

h1 {
    background-color: #2172c4;
    color: black;
    text-decoration: underline yellow;
    text-align: center;
    padding: 20PX;
}

h2 {
    background-color: #2172c4;
    padding: 20px;
    text-decoration: underline yellow;
    text-align: center;
    color: black;
}

h3 {
    color: black;
    background-color: #2172c4;
    padding: 20px;
}

h4 {
    color: black;
    background-color: #2172c4;
    padding: 25px;
}

a {
align-items: center;
display: flex;
flex-direction: column;
}



#backToTopButton {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #ffffff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#backToTopButton:hover {
    background-color: #6eb4ff;
   }

 * {
    font-family: "Amatic SC", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  
  *{
    font-family: "Amatic SC", sans-serif;
    font-weight: 900;
    font-style: normal;
    text-shadow: #000;}